<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="order-wrapper">
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>L</span>ịch sử mua hàng
            </h3>
            <div class="table-wrapper table-responsive">
                <table class="table">
                    <thead>
                    <tr class="success text-center">
                        <th scope="col" style="width:5%;" class="text-center">ID</th>
                        <th scope="col" style="width:15%;">Người nhận</th>
                        <th scope="col" style="width:10%;">Số Điện thoại</th>
                        <th scope="col" style="width:15%;" class="text-center">Tổng giá tiền (VNĐ)</th>
                        <th scope="col" style="width:15%;" class="text-center">Tỉnh thành</th>
                        <th scope="col" style="width:10%;" class="text-center">Ngày mua</th>
                        <th scope="col" style="width:10%;" class="text-center">Ngày giao</th>
                        <th scope="col" style="width:10%;" class="text-center">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each bills}}
                            <tr>
                                <td class="text-center"><a href="{{myAppend "/bill_detail/" billId}}"  class="text-success"><u>{{billId}}</u></a></td>
                                <td>{{receiverName}}</td>
                                <td>{{phone}}</td>
                                <td class="text-center">{{formatPrice totalPrice false}}</td>
                                <td class="text-center">{{city}}</td>
                                <td class="text-center">{{parseDate purchaseDate "/"}}</td>
                                {{#if deliveryDate}}
                                    <td class="text-center">{{parseDate deliveryDate "/"}}</td>
                                {{else}}
                                    <td class="text-center">...</td>
                                {{/if}}
                                <td class="{{getBillStatusClass status}} text-center" style="font-weight: 600;">{{status}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!--Pagination-->
            {{#compare pages ">" 0}}
                <nav class="pagination-wrapper text-center" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {{#compare page "===" 1}}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/history?page={{dec page}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{/compare}}

                        {{{generatePagination "history" page pages}}}

                        {{#compare page "===" pages}}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/history?page={{inc page}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{/compare}}
                    </ul>
                </nav>
            {{/compare}}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout page -->