<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            {{product.name}}</h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            {{#each imageUrlArr}}
                                <li data-thumb="{{this}}" style="width: 800px; margin-right: 0px; float: left; display: block;">
                                    <div class="thumb-image">
                                        <img src="{{this}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <div class="badges-bar">
                    {{#if product.new}}
                        <span class="product-new-top" style="position:inherit;">Mới</span>
                    {{/if}}
                    <span class="item-category badge badge-primary badge-shoppy">{{product.category.categoryName}}</span>
                    <span id="item-createdDate" class="badge-shoppy">{{parseDateTime product.createdDate "/"}}</span></div>
                <h3 class="mb-3">{{product.store.name}}</h3>
                <p class="mb-3">
                    <span class="item_price">{{formatPrice product.salePrice}}</span>
                    <del class="mx-2 font-weight-light">{{formatPrice product.price}}</del>
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            <b>Đã bán: </b> {{product.purchaseCount}}
                        </li>
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>Mô tả chi tiết</label>
                    </p>
                    <ul>
                        <li class="mb-1">
                            {{product.description}}
                        </li>
                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="{{product.name}}" />
                                <input type="hidden" name="amount" value="{{number product.price}}" />
                                <input type="hidden" name="discount_amount" value="{{number (math product.price "-" product.discount)}}" />
                                <input type="hidden" name="currency_code" value="VND" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button btn" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="login">
                <div class="page-header">
                    <h3 class="reviews">Leave your comment</h3>
                </div>
                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#comments-login" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                        {{#if req.user}}
                        <li class="nav-item"><a class="nav-link" href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                        {{/if}}
                    </ul>            
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="comments-login">                
                            <ul class="media-list">
                            {{# each comments}}
                              <li class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object img-circle" src="../images/avatar.png" alt="profile">
                                </a>
                                <div class="media-body">
                                  <div class="well well-lg">
                                      <h4 class="media-heading text-uppercase reviews">{{user.username}}</h4>
                                      <ul class="media-date text-uppercase reviews list-inline">
                                        <li class="dd/mm/aaaa">{{parseDate createdDate " ."}}</li>
                                      </ul>
                                      <p class="media-comment">
                                        {{content}}
                                      </p>
                                  </div>              
                                </div>
                              </li>
                            {{/each}}         
                            </ul> 
                            <!--Pagination-->
                            {{#compare pages ">" 0}}
                                <nav class="pagination-wrapper text-center" aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {{#compare page "===" 1}}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {{else}}
                                            <li class="page-item">
                                                <a class="page-link" href="/item_detail/{{product.productId}}?page={{dec page}}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {{/compare}}

                                        {{{generatePagination "item_detail/{{product.productId}}" page pages}}}

                                        {{#compare page "===" pages}}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {{else}}
                                            <li class="page-item">
                                                <a class="page-link" href="/item_detail/{{product.productId}}?page={{inc page}}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {{/compare}}
                                    </ul>
                                </nav>
                            {{/compare}}
                            <div class="clearfix"> </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="add-comment">
                            <form action="/comment/{{product.productId}}" method="post" class="form-horizontal" id="commentForm" role="form">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Comment</label>
                                    <div class="col-sm-10">
                                      <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">                    
                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                    </div>
                                </div>            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>                
        <h4 class="tittle-w3l mt-5"><i class="fab fa-windows"></i> <span>S</span>ản phẩm thường được xem cùng</h4>
        <div class="row position-relative">
            <div id="relatedProducts" class="cS-hidden" style="width: 1000px;">
                {{# each relatedProducts}}
                    <div class="product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/item_detail/{{productId}}" class=""><img src="{{firstImageUrl}}" alt=""></a>
                                {{#if new}}
                                    <span class="product-new-top">Mới</span>
                                {{/if}}
                            </div>
                            <div class="item-info-product text-center border-top mt-4">
                                <h4 class="pt-1 text-center">
                                    <a href="/item_detail/{{productId}}" class="text-center">{{name}}&nbsp;</a>
                                </h4>
                                <div class="info-product-price my-2">
                                    <span class="item_price">{{number (math price "-" discount)}} VNĐ</span>
                                    <del>{{number price}}</del>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <span id="related-product-slide-left" class="related-product-control related-product-control-left">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span id="related-product-slide-right" class="related-product-control related-product-control-right">
                <i class="fas fa-arrow-right"></i>
            </span>
        </div>
    </div>
</div>
