<!-- Single Page -->
<script></script>
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            {{product.name}}</h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            {{#each imageUrlArr}}
                                <li data-thumb="{{this}}" style="width: 800px; margin-right: 0px; float: left; display: block;">
                                    <div class="thumb-image">
                                        <img src="{{this}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <div class="badges-bar">
                    {{#if product.new}}
                        <span class="product-new-top" style="position:inherit;">Mới</span>
                    {{/if}}
                    <span class="item-category badge badge-primary badge-shoppy">{{product.category.categoryName}}</span>
                    <span id="item-createdDate" class="badge-shoppy">{{parseDateTime product.createdDate "/"}}</span></div>
                <h3 class="mb-3">{{product.store.name}}</h3>
                <p class="mb-3">
                    <span class="item_price">{{formatPrice product.salePrice}}</span>
                    <del class="mx-2 font-weight-light">{{formatPrice product.price}}</del>
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            <b>Đã bán: </b> {{product.purchaseCount}}
                        </li>
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>Mô tả chi tiết</label>
                    </p>
                    <ul>
                        <li class="mb-1">
                            {{product.description}}
                        </li>
                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>
                </div>
                <div class="occasion-cart">
                    <a href="/add/{{product.productId}}" class="item_add single-item hvr-outline-out"><h4><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</h4></a>
                </div>
            </div>
        </div>
              
        <h4 class="tittle-w3l mt-5"><i class="fab fa-windows"></i> <span>S</span>ản phẩm thường được xem cùng</h4>
        <div class="row position-relative">
            <div id="relatedProducts" class="cS-hidden" style="width: 1000px;">
                {{# each relatedProducts}}
                    <div class="product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <a href="/item_detail/{{product.productId}}" class=""><img src="{{firstImageUrl}}" alt=""></a>
                                {{#if new}}
                                    <span class="product-new-top">Mới</span>
                                {{/if}}
                            </div>
                            <div class="item-info-product text-center border-top mt-4">
                                <h4 class="pt-1 text-center">
                                    <a href="/item_detail/{{productId}}" class="text-center">{{name}}&nbsp;</a>
                                </h4>
                                <div class="info-product-price my-2">
                                    <span class="item_price">{{number (math price "-" discount)}} VNĐ</span>
                                    <del>{{number price}}</del>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <span id="related-product-slide-left" class="related-product-control related-product-control-left">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span id="related-product-slide-right" class="related-product-control related-product-control-right">
                <i class="fas fa-arrow-right"></i>
            </span>
        </div>
        

        <div class="tile" id="tile-1">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <div class="slider"></div>
             <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-comment"></i> Bình luận</a>
              </li>
              {{#if user}}
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-plus"></i> Thêm bình luận</a>
              </li>
              {{/if}}
            
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <ul class="media-list">
                    {{# each comments}}
                      <li class="media">
                        <a class="pull-left" href="#">
                          <img class="rounded-circle" src="../images/avatar.png" alt="profile" height="50">
                        </a>
                        <div class="media-body">
                          <div class="well well-lg">
                              <h5 class="text-uppercase">{{user.username}}</h5>
                              <ul class="media-date text-uppercase list-inline">
                                <li class="dd/mm/aaaa">{{parseDate createdDate " ."}}</li>
                              </ul>
                              <p class="media-comment">
                                {{content}}
                              </p>
                          </div>              
                        </div>
                      </li>
                    {{/each}}         
                </ul> 
                <!--Pagination-->
                <nav id="product-pagination" aria-label="Page navigation example">
                  <ul class="pagination">
                    {{#paginate pagination type="first"}}
                      <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">First</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                      <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">Prev</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="7"}}
                      <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="&p={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                      <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">Next</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                      <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">Last</a></li>
                    {{/paginate}}
                  </ul>
                </nav>
                <div class="clearfix"> </div>
            </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form action="/comment/{{product.productId}}" method="post" class="form-horizontal" id="commentForm" role="form">
                <div class="form-group">
                    <div class="col-sm-10">
                      <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">                    
                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Bình luận</button>
                    </div>
                </div>            
            </form>
          </div>

        </div> 
    </div>
</div>



<script>
$("#tile-1 .nav-tabs a").click(function() {
  var position = $(this).parent().position();
  var width = $(this).parent().width();
    $("#tile-1 .slider").css({"left":+ position.left,"width":width});
});
var actWidth = $("#tile-1 .nav-tabs").find(".active").parent("li").width();
var actPosition = $("#tile-1 .nav-tabs .active").position();
$("#tile-1 .slider").css({"left":+ actPosition.left,"width": actWidth});
</script>