<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            {{product.name}}</h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            {{#each imageUrlArr}}
                                <li data-thumb="{{this}}" style="width: 800px; margin-right: 0px; float: left; display: block;">
                                    <div class="thumb-image">
                                        <img src="{{this}}" data-imagezoom="true" class="img-fluid" alt=""> </div>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <div class="badges-bar">
                    {{#if product.new}}
                        <span class="product-new-top" style="position:inherit;">Mới</span>
                    {{/if}}
                    <span class="item-category badge badge-primary badge-shoppy">{{product.category.categoryName}}</span>
                    <span id="item-createdDate" class="badge-shoppy">{{parseDateTime product.createdDate "/"}}</span></div>
                <h3 class="mb-3">{{product.store.name}}</h3>
                <p class="mb-3">
                    <span class="item_price">{{formatPrice product.salePrice}}</span>
                    <del class="mx-2 font-weight-light">{{formatPrice product.price}}</del>
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            <b>Đã bán: </b> {{product.purchaseCount}}
                        </li>
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>Mô tả chi tiết</label>
                    </p>
                    <ul>
                        <li class="mb-1">
                            {{product.description}}
                        </li>
                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="{{product.name}}" />
                                <input type="hidden" name="amount" value="{{number product.price}}" />
                                <input type="hidden" name="discount_amount" value="{{number (math product.price "-" product.discount)}}" />
                                <input type="hidden" name="currency_code" value="VND" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button btn" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
