<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>K</span>ết
            <span>Q</span>uả
            <span>T</span>ìm
            <span>K</span>iếm: {{keyword}}
        </h3>
        <!-- //tittle heading -->
        {{#if isAdvancedSearch}}
        <div class="row">
            <a class="backHomeLink" href="/advancedSearch" style="margin: 0 15px 15px 15px;"><i class="fas fa-arrow-left"></i> Về trang tìm kiếm nâng cao</a>
        </div>
        {{/if}}
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- template section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <!-- <div class="row" id="result">

                        </div> -->
                        <div class="row">
                            {{# each products}}
                                <div class="col-md-4 product-men mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            <img src="{{firstImageUrl}}" alt="">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="/item_detail/{{productId}}" class="link-product-add-cart">Xem nhanh</a>

                                                </div>
                                            </div>
                                            {{#if new}}
                                                <span class="product-new-top">Mới</span>
                                            {{/if}}
                                        </div>
                                        <div class="item-info-product text-center border-top mt-4">
                                            <h4 class="pt-1 text-center">
                                                <a href="/item_detail/{{productId}}" class="text-center">{{name}}&nbsp;</a>
                                                <p> {{category.categoryName}} </p>
                                                <p> {{store.name}}</p>
                                            </h4>
                                            <div class="info-product-price my-2">
                                                <span class="item_price">{{number (math price "-" discount)}} VNĐ</span>
                                                <del>{{number price}}</del>
                                            </div>
                                            <a href="/add/{{productId}}" class="btn btn-default pull-right" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- //template section -->
                    <nav id="product-pagination" aria-label="Page navigation example">
                        <ul class="pagination">
                            {{#paginate pagination type="first"}}
                                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">First</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="previous"}}
                                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="p={{n}}">Prev</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="middle" limit="7"}}
                                <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="&p={{n}}">{{n}}</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">Next</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="last"}}
                                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="&p={{n}}">Last</a></li>
                            {{/paginate}}
                        </ul>
                    </nav>


                </div>
            </div>
            <!-- //product left -->

            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Tìm kiếm...</h3>
                        <form action="/search" method="get">
                            <input type="search" placeholder="Tên sản phẩm..." name="keyword" required="">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giá</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="#">Dưới 1 triệu</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">1 triệu - 5 triệu</a>
                                </li>
                                <li>
                                    <a href="#">5 triệu - 10 triệu</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">10 triệu - 15 triệu</a>
                                </li>
                                <li>
                                    <a href="#">15 triệu - 20 triệu</a>
                                </li>
                                <li class="mt-1">
                                    <a href="#">Trên 20 triệu</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                    <!-- discounts -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giảm giá</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% hoặc hơn</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% hoặc hơn</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev border-bottom left-side py-2">
                        <h3 class="agileits-sear-head mb-3">Đánh giá của khách hàng</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- electronics -->
                    <div class="left-side border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Đồ điện tử</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Phụ kiện</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Cameras & Ảnh</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Xe</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Máy tính</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">GPS</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Tai nghe</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Điện thoại & Phụ kiện</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Portable Media Players</span>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Tablets</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //electronics -->
                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3">Top bán chạy</h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k1.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                                        <a href="" class="price-mar mt-2">100.000.000 VNĐ</a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
                                        <a href="" class="price-mar mt-2">100.000.000 VNĐ</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="images/k3.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
                                        <a href="" class="price-mar mt-2">10.000.000 VNĐ </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>
<!-- //top products -->
